@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #bbc6da;
}
.t1 {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
.t1 a{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
.t1 a:hover{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 22px;
	color: #FF6600;
	text-decoration: none;
}
.t2 {
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	color: #6e6e6e;
	text-decoration: none;
}
.t2 a{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.t2 a:hover{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	color: #FF6600;
	text-decoration: underline;
}
.t3 {
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 20px;
	color: #165aa1;
	text-decoration: none;
}
.t3 a{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 20px;
	color: #165aa1;
	text-decoration: none;
}
.t3 a:hover{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 20px;
	color: #FF6600;
	text-decoration: underline;
}
.t4 {
	font-family: "微软雅黑";
	font-size: 9px;
	line-height: 20px;
	color: #165aa1;
	text-decoration: none;
}
.t5 {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.t5 a{
	font-family: "微软雅黑";
	5font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.t5 a:hover{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 20px;
	color: #FF6600;
	text-decoration: underline;
}
.t6 {
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
}
.t6 a{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
}
.t6 a:hover{
	font-family: "微软雅黑";
	font-size: 18px;
	line-height: 20px;
	color: #FF6600;
	text-decoration: underline;
}
.t7 {
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 28px;
	color: #000000;
	text-decoration: none;
}
.t7 a{
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 28px;
	color: #000000;
	text-decoration: none;
}
.t7 a:hover{
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 28px;
	color: #FF6600;
	text-decoration: underline;
}
.t8 {
	font-family: "";
	font-size: 12px;
	line-height: 14px;
	color: #0d7dd3;
	text-decoration: none;
}
.t8 a{
	font-family: "";
	font-size: 12px;
	line-height: 14px;
	color: #0d7dd3;
	text-decoration: none;
}
.t8 a:hover{
	font-family: "";
	font-size: 12px;
	line-height: 14px;
	color: #FF9900;
	text-decoration: none;
}
.t9 {
	font-family: "微软雅黑";
	color: #333333;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
}
.t9 a{
	font-family: "微软雅黑";
	color: #333333;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
}
.t9 a:hover{
	font-family: "微软雅黑";
	color: #FF9900;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
}
.t11 {
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.t11 a{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.t11 a:hover{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 14px;
	color: #FF9900;
	text-decoration: none;
}
.t12 {
	font-family: "微软雅黑";
	font-size: 15px;
	line-height: 24px;
	color: #666666;
	text-decoration: none;
}
.t12 a{
	font-family: "微软雅黑";
	font-size: 15px;
	line-height: 24px;
	color: #666666;
	text-decoration: none;
}
.t12 a:hover{
	font-family: "微软雅黑";
	font-size: 15px;
	line-height: 24px;
	color: #FF6600;
	text-decoration: underline;
}
.t14 {
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
.t14 a{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
.t14 a:hover{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 18px;
	color: #FF6600;
	text-decoration: underline;
}
.t15 {
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	color: #4e596d;
	text-decoration: none;
}
.t15 a{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	color: #4e596d;
	text-decoration: none;
}
.t15 a:hover{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	color: #FF9900;
	text-decoration: underline;
}
.k1 {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-decoration: none;
	height: 26px;
	width: 148px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.end-1 {
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
.end-1 a{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
.end-1 a:hover{
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	color: #FF6600;
	text-decoration: none;
}
.end-2 {
	font-family: "微软雅黑";
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
}
.end-2 a{
	font-family: "微软雅黑";
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
}
.end-2 a:hover{
	font-family: "微软雅黑";
	color: #FF9900;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
}
.h1 {
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 22px;
	color: #ffffff;
	text-decoration: none;
}
.h2 {
	font-family: "微软雅黑";
	color: #333333;
	text-decoration: none;
	font-size: 24px;
	line-height: 26px;
}
.h3 {
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 22px;
	color: #175B9E;
	text-decoration: none;
	font-weight: bold;
}
.time {
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 22px;
	color: #9b9b9b;
	text-decoration: none;
}

/*CSS black style pagination*/

DIV.black {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 80%; PADDING-BOTTOM: 10px; MARGIN: 3px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
DIV.black A {
	BORDER-RIGHT: #909090 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #909090 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(bar.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: #909090 1px solid; COLOR: #000000; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #909090 1px solid; TEXT-DECORATION: none
}
DIV.black A:hover {
	BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; BACKGROUND-IMAGE: url(invbar.gif); BORDER-LEFT: #f0f0f0 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #f0f0f0 1px solid; BACKGROUND-COLOR: #0099FF
}
DIV.black A:active {
	BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid; BACKGROUND-IMAGE: url(invbar.gif); BORDER-LEFT: #f0f0f0 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #f0f0f0 1px solid; BACKGROUND-COLOR: #404040
}
DIV.black SPAN.current {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #FFFFFF; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #0066FF
}
DIV.black SPAN.disabled {
	BORDER-RIGHT: #606060 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #606060 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #606060 1px solid; COLOR: #808080; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #606060 1px solid
}
